   <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}"><a href="/"><i class="fa fa-dashboard"></i> <span>Pulpit</span></a></li>
        <li class="{% if app.request.attributes.get('_route') == 'platnosci' %}active{% endif %}"><a href="/platnosci"><i class="fa fa-money"></i> <span>Płatności</span></a></li>
        <li class="{% if app.request.attributes.get('_route') == 'faktury' %}active{% endif %}"><a href="/faktury"><i class="fa fa-area-chart"></i> <span>Faktury</span></a></li>
        <li class="{% if app.request.attributes.get('_route') == 'zamowienia' %}active{% endif %}"><a href="/zamowienia"><i class="fa fa-shopping-cart"></i> <span>Zamówienia</span></a></li>
        <li class="{% if app.request.attributes.get('_route') == 'towary' %}active{% endif %}"><a href="/towary"><i class="fa fa-shopping-cart"></i> <span>Towary</span></a></li>
        <li><a href="/logowanie"><i class="fa fa-list"></i> <span>Logowanie</span></a></li>
    </ul>