{% extends 'starter.html.twig' %}
 {% block PageHeader %}
    <section class="content-header">
      <h1>
        PGVT DUNE IVORY POLISHED 60X60x
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class=""><a href="/towary">Towary</a></li>
        <li class="active"><a href="/towar">PGVT DUNE IVORY POLISHED 60X60</a></li>
      </ol>
    </section>
        {% endblock %}
{% block Css %}
{% endblock %}
{% block MainContent %}
 <div class="row">
       
         <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-edit"></i>

              <h3 class="box-info">PGVT DUNE IVORY POLISHED 60X60x</h3>
            </div>
            <div class="box-body">
                <div class="panel panel-default">
                  <div class="panel-heading">Opis</div>
                   <div class="panel-body">Wyjątkowa seria podłogowych gresów do stosowania wewnątrz lub na zewnątrz pomieszczeń. Dostępna w 6 randomach. Klasa ścieralności PEI 4.
PŁYTKA GRESOWA PODŁOGOWO/ŚCIENNA SZKLIWIONA, WYKOŃCZENIE POLER, REKTYFIKOWANA 60 x 60 (cm) x 10 mm INDOOR/OUTDOOR – grupa BIa.
PACKING:   48,96m2/pal, 1054kg/ pal.;   w pudełku: 4 szt./1,44 m2</div>
                  </div>
              <p>
 </p>
 <img src="http://zamowienia.netto.net.pl/img/428/.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
      <img src="http://zamowienia.netto.net.pl/img/429/.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
            </div>
           
        <!-- /.col -->
   
      </div>
             </div>
     
     <div class="col-md-6">
         <div class="box box-primary">
            <div>
              <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                <tr>
                    <th>Cecha</th>
                    <th>Warość</th>
                </thead>
                <tbody>    
               <tr role="row" class="odd">
                  <td class="sorting_1">Waga Opakowania</td>
                  <td>45kg</td>
                  
                </tr>
                 <tr role="row" class="odd">
                  <td class="sorting_1">Ilość w Paczce</td>
                  <td>12szt</td>
                  
                </tr>
                  <tr role="row" class="odd">
                  <td class="sorting_1">Ilość paczek w palecie</td>
                  <td>13szt</td>
                  
                </tr>
                 
                  <tr role="row" class="odd">
                  <td class="sorting_1">Waga palety</td>
                  <td>1100 kg</td>
                  
                </tr>
                 <tr role="row" class="odd">
                  <td class="sorting_1">Dostępność na magazynie</td>
                  <td>1234 palet</td>
                  
                </tr> <tr role="row" class="odd">
                  <td class="sorting_1"></td>
                  <td><button type="button" class="btn btn-block btn-danger btn-sm">Dodaj do zamówienia</button></td>
                  
                </tr>
                
                </tbody>
                
              </table>
                  <div>
                  </div>
            <!-- /.box -->
          </div>
        </div>
     </div>    
      </div>
     
{% endblock %}