{% extends 'starter.html.twig' %}
 {% block PageHeader %}
    <section class="content-header">
      <h1>
        Zamówienia
        <small>lista zamówień</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Zamówienia</li>
      </ol>
    </section>
        {% endblock %}
{% block MainContent %}
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Zamówienia</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>Dokument</th>
                  <th>Sprzedawca</th>
                  <th>Data dokumentu</th>
                  <th>Data płatności</th>
                  <th>Kwota</th>
                  <th>Status Realizacji</th>
                  <th>Akcja<th>
              </tr>
              {% for i in 1..10 %}
                <tr>
                  <td><a href="/dokument">RO/{{i}}/01/2017</a></td>
                  <td>Monika Rudkowska</td>
                  <td>11-7-2014</td>
                  <td>18-7-2014</td>
                  <td>1234 zł</td>
                  <td><span class="label label-success">Zrealizowane</span></td>  
                  <td>
                      <a href="/dokument" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-zoom-in"></span> Pokaż</a>
                  <a href="/dokument" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-print"></span> Drukuj</a>
                  </td>
                </tr>
                {% endfor %}
                 <tr>
                  <td>
                      <a href="Dokument">RO/13/01/2017</a>
                      
                      
                  </td>
                  <td>Anfrzej Janusz</td>
                  <td>11-7-2014</td>
                  <td>18-7-2014</td>
                  <td>1234 zł</td>
                  <td><span class="label label-danger">Anulowane</span></td> 
                   <td>
                      <a href="/dokument" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-zoom-in"></span> Pokaż</a>
                  <a href="/dokument" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-print"></span> Drukuj</a>
                  </td>
                </tr>
                 {% for i in 1..3 %}
                <tr>
                  <td><a href="Dokument">{{i}}/123/01/2017</a></td>
                  <td>Anfrzej Janusz</td>
                  <td>11-7-2014</td>
                  <td>18-7-2014</td>
                  <td>1234 zł</td>
                  <td><span class="label label-info">W realizacji</span></td> 
                   <td>
                      <a href="/dokument" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-zoom-in"></span> Pokaż</a>
                  <a href="/dokument" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-print"></span> Drukuj</a>
                  </td>
                </tr>
                {% endfor %}
                <tr  class="bg-warning">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><button type="button" class="btn btn-block btn-success btn-sm">Nowe zamówienie</button></td>
                  
                </tr>
                
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
   {% endblock %}